# WiFi Credentials

WIFI_SSID="Your_WiFi_Name"
WIFI_PASSWORD="Your_WiFi_Password"

# Blynk Credentials

BLYNK_AUTH_TOKEN="Your_Blynk_Auth_Token"

# Serial Config

SERIAL_PORT="/dev/ttyUSB0"
BAUD_RATE=115200
 
# Edge Impulse API (optional)

EI_API_KEY="EdgeImpulse_API_Key"
